{% extends "parts/base.html" %}
{% load static %}

{% block title %}
    Your order cart
{% endblock %}

{% block content %}
    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img" style="background-color:#fff;">
    	<div class="overlay"></div>
    		<div class="row d-md-flex justify-content-center">
    			<div class="col-md-6 col-lg-6 half p-6 py-9 pl-lg-6 ftco-animate heading-section">
            <h1>Log-in</h1>
            <p>Please, contact us if you don't have an account</p>
            <form action="." method="post">
              {{ form.as_p }}
              {% csrf_token %}
              {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}"/>{% else %}<input type="hidden" name="next" value="/account/dashboard/"/>{% endif %}
              <p><input type="submit" class="btn btn-primary" value="Login"></p>
            </form>
    			</div>
    		</div>
    </section>
{% endblock %}
